
@use "sass:math";
@import "mixin.scss";
@import "reset.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");


.wrapper{
    overflow: clip;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}


.wrapper > main{
    flex-grow: 1;
}

body{
font-size: rem(14);
font-family: "Poppins", sans-serif;
font-weight: 600;
}

[class*="__container"]{
  max-width: rem(1230);
  padding: 0 15px;
  margin: 0 auto;
}

.menu-open .menu__body,
.menu-open .menu__body::before{
  left: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #040404bd;
  // .header__container

  &__container {
    color: #fff;
    display: flex;
    align-items: center;
    min-height: rem(100);
    position: relative;
    z-index: 2;
    @media (max-width: em(700)){
      min-height: rem(60);
    }
  }

  // .header__logo

  &__logo {
    position: relative;
    z-index: 50;
    font-size: rem(20);
    font-weight: 700;
    @media (max-width: em(500)){
      margin-right: rem(10);
    }
  }

  // .header__menu

  &__menu {
    display: flex;
    flex:  1 1 auto;
    
  }
    // .header__button

    &__button {
      margin-right: rem(30);
      @include button;
      transition: background-color 0.3s;
      @media (max-width: em(700)){
        margin-right: rem(15);
        font-size: rem(12);
        padding: rem(10) rem(12);
      }
      @media (any-hover:hover ){
        &:hover{
          background-color: #bb9828;
  
        }
      }
    }
}
.menu {

  // .menu__body

  &__body {
    flex: 1 1  auto;
    transition: left 0.4s;
    @media (max-width: em(1100)){
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      padding: rem(140) rem(30) rem(30);
      overflow: auto;
      background-color: #2a2723;
      z-index: 2;
      &::before{
        content: "";
        transition: left  0.4s;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        min-height: rem(100);
        background-color: #826a29;
        z-index: 5;
        @media (max-width: em(700)){
          min-height: rem(70);
        }
      }
    }
  }

  // .menu__list

  &__list {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: em(1100)){
      justify-content: flex-start;
      flex-direction: column;
      gap: rem(30);
      }
      @media (max-width: em(550)){
        gap: rem(20);
      }
  }

  // .menu__item

  &__item {
    @media (min-width: em(1100)) {
      margin-right: clamp(rem(40),2vw, rem(50));
    }
    @media (max-width: em(1100)){
      display: block;
      width: 100%;
    }
    @media (any-hover:hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }

  // .menu__link

  &__link {

    @media (max-width: em(1100)){
      font-size: rem(30);
      display: flex; /* Використовуємо Flexbox */
      justify-content: center; /* Горизонтальне вирівнювання */
      align-items: center; /* Вертикальне вирівнювання */
      width: 100%;
      padding: 15px 0;
      text-align: center;
    }
    @media (max-width: em(550)){
      font-size: rem(25);
    }
  }

}





.icon-menu{

    display: none;
    @media (max-width: em(1100)){
      display: block;
      position: relative;
      z-index: 5;
      flex: 0 0 rem(30);
      height: rem(25);
      width: rem(30);
      span,&::before, &::after{
          content: "";
          background-color: #FFCC00;
          position: absolute;
          left:0;
          width: 100%;
          height: rem(2);
      }
      &::before{
          top: 0;
          height: rem(3.5);
          
      }
      &::after{
          bottom: 0;
          height: rem(3.5);
          transform: translateY(rem(2));

      }
      span{
          top: 50%;
          transform: translateY(rem(-1));
          height: rem(3.5);
      }
    }

}



.page {

  // .page__body

  &__body {
    position: relative;
    min-height: 100vh;
    margin-bottom: rem(100);
    padding-top: rem(140);
    background: linear-gradient(45deg, rgba(3,3,3,1) 20%, rgba(15,16,20,1) 46%, rgba(46,53,67,1) 80%);  
    @media (max-width: em(500)){
      padding-top: rem(100);
      margin-bottom: rem(50);
    }
  }

  // .page__background

  &__background {
    background-blend-mode: multiply;
    img{
      position: absolute;
      top: 0;
      left: 0;
      mask-image: url(../img/svg-path.png);
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      width: 100vw;
      height: 100%;
      object-fit:  cover;
      object-position:right;
      @media (max-width: em(700)){
        opacity: 0.5;
      }
      @media (max-width: em(700)){
        object-position:90%;
      }
    }
  }
  // &__body {
  //   position: relative;
  //   min-height: 100vh;
  //   padding-top: 200px;
  //   position: relative;
  //   &:after {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background: url(../img/pizza.webp) 0 0 / cover no-repeat;
  //     mask-image: url(../img/svg-path.png);
  //     mask-size: 100% 100%;
  //   }
  // }
}
.body {

  // .body__container

  &__container {
    color: white;
    position: relative;
    z-index: 2;
    -webkit-text-stroke: 1px #040404;
  }

  // .body__price

  &__price {
    font-size: rem(26);
    &:not(:last-child){
      margin-bottom: rem(25);
    }
    @media (max-width: em(500)){
      &:not(:last-child){
        margin-bottom: rem(10);
      }
    }
  }

  // .body__title

  &__title {
    font-size: rem(64);
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    &:not(:last-child){
      margin-bottom: rem(25);
    }
    @media (max-width: em(900)){
      font-size: rem(44);
    }
    @media (max-width: em(500)){
      &:not(:last-child){
        margin-bottom: rem(10);
        font-size: rem(35);
      }
    }
  }

  // .body__order

  &__order {
    grid-auto-columns: auto;
    display: flex;
    align-items: center;
    gap: rem(30);
    &:not(:last-child){
      margin-bottom: rem(60);
    }
    @media (max-width: em(900)){
      &:not(:last-child){
        margin-bottom: rem(40);
      }
    }
    @media (max-width: em(570)){
      flex-direction: column;
      &:not(:last-child){
        margin-bottom: rem(30);
      }
    }
  }

  // .body__wrapper

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFCC00;
    border-radius: 50%;
    width: rem(205);
    height: rem(205);
    align-items: center;
    justify-content: center;
    
  }

  // .body__procent

  &__procent {
    font-size: rem(64);
    

  }

  // .body__discount

  &__discount {
    font-size: rem(32);
  }

  // .body__text

  &__text {
    font-size: rem(36);
    font-weight: 600;
    flex: 0 1  rem(324);
    line-height: normal;
    @media (max-width: em(900)){
      font-size: rem(34);
    }
    @media (max-width: em(570)){
      flex: 0  0 auto;
    }
  }

  // .body__button
  .body__wrapper-button{
    @media (max-width: em(570)){
      display: flex;
      align-items: center;
      justify-content: center
    }
  }
  &__button {
    @include button;
    transition: background-color 0.4s;
    @media (any-hover:hover ){
      &:hover{
        background-color: #bb9828;

      }
    }
  }

}

.page {

  // .page__categories

  &__categories {
    margin-bottom: rem(50);
  }
}
.categories {

  // .categories__container

  &__container {
  }

  // .categories__our-categories

  &__our-categories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: rem(100);
    @media (max-width: em(700)){
      margin-bottom: rem(50);
    }
  }

  // .categories__top-foods

  &__top-foods {
    @include top-content;
  }

  // .categories__title

  &__title {
    @include title_change;
  }

  // .categories__menu

  &__menu {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(rem(277), 1fr) );
    gap: rem(30);
    }

  // .categories__item

  &__item {
    min-height: rem(250);
    transition: transform 0.3s;
    @media (any-hover:hover ){
      &:hover{
        transform: scale(1.1);
      }
    }
  }

  // .categories__link

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(15);
  }

  // .categories__picture

  &__picture {
      position: relative;
      width: 100%;
      padding-bottom: 55%;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // .categories__sab-title

  &__sab-title {
    color: #231900;
    font-size: rem(24);
    font-weight: 700;
    max-width: rem(200);
    white-space: normal; /* Дозволяє тексту ламатися */
    word-wrap: break-word; /* Ламає слова, якщо вони довгі */
    text-align: center;

  }

  // .categories__text

  &__text {
    color: #231900;
    font-size: rem(18);
    font-weight: 600;
    text-align: center;
  }
}


// featureddddddddddddddddddddddddddddddddddddd




.features {
  background-color: #F4D03F;
  // .features__container

  &__container {
    padding: rem(50) 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: rem(30);
    @media (max-width: em(850)){
      grid-template-columns: repeat(2, 1fr);

    }
    @media (max-width: em(550)){
      grid-template-columns: repeat(1, 1fr);

    }
  }

  // .features__cards

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(42);
    column-gap: rem(20);
  }

  // .features__link-car
  &__link-car {
    @include general;
    
    @media (any-hover: hover) {
      &:hover .features__car img {
        animation: car 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      }
    }
  }
  
  &__car {
    position: absolute;
    top: 35%;
    left: 35%;
    width: rem(40.7);
    height: rem(26);
  
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    @keyframes car {
      0% {
        transform: translateX(0%);
      }
      50% {
        transform: translateX(250%);
      }
      51% {
        transform: translateX(-250%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }
  

  // .features__information

  &__information {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: rem(22);
    color: #333333;
  }

  // .features__title

  &__title {
    
    font-size: rem(20);
    font-family: 700;
    text-align: center;
    line-height: normal;
  }

  // .features__text

  &__text {
    font-size: rem(17);
    font-weight: 600;
    text-align: center;
    line-height: normal;
    p{
      &:not(:last-child){
        margin-bottom: rem(25)
      }
    }
  }

  // .features__link-burger

  &__link-burger {
    @include general;

    @media (any-hover:hover ){
      &:hover .features__burger
      img{
        transform: scale(2.4);
      }
    }
  }

  // .features__burger

  &__burger {
    position: absolute;
    top: 31%;
    left: 32%;
    width: rem(39.5);
    height: rem(39.5);
    img{
      transition: transform 0.4s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  // .features__link-clock

  &__link-clock {
    @include general;
    
    @media (any-hover:hover ){
      &:hover .features__clock{
        img{
          transform: rotate(720deg) scale(2);

        }
      }
    }
  }

  // .features__clock

  &__clock {
    position: absolute;
    top: 30%;
    left: 32%;
    width: rem(40.38);
    height: rem(40.38);
    img{
      transition: transform 0.8s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.outlet {
  padding-top: rem(76);
  padding-bottom: rem(44);
  background-color: #F5F5F5;
  margin-bottom: rem(110);
  @media (max-width: em(600)){
    margin-bottom: rem(50);
  }
  // .outlet__container

  &__container {
  }

  // .outlet__top-content

  &__top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:not(:last-child){
      margin-bottom: rem(22)
    }
  }

  // .outlet__our-outlet

  &__our-outlet {
    @include top-content;
  }

  // .outlet__title

  &__title {
    @include title_change
  }

  // .outlet__cards

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30);
    @media (max-width: em(900)){
      grid-template-columns: repeat(2,1fr);
    }
    @media (max-width: em(500)){
      grid-template-columns: repeat(1,1fr);
    }
  }

  // .outlet__item

  &__item {
    @media (any-hover:hover ){
      &:hover{
        border: #040404 2px dashed ;
      }
    }
  }

  // .outlet__link

  &__link {
  }

  // .outlet__images

  &__images {
    margin-bottom: rem(22);
    position: relative;
    padding-bottom: 115.789474%; /* 440/380 */
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .outlet__nav

  &__wrapper-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:not(:last-child){
      margin-bottom: rem(30);
    }
  }

  &__nav {
    &:not(:last-child){
      margin-bottom: rem(15);
    }
    position: relative;
    width: 20px;
    height: 32px;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .outlet__location

  &__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: rem(380);
    font-size: rem(20);
    line-height: normal;
    &:not(:last-child){
      margin-bottom: rem(20);
    }
  }
}


// deliveryyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy

.delivery {
  font-size: rem(17);
  font-weight: 400;
  line-height: normal;
  margin-bottom: rem(140);
  @media (max-width: em(600)){
    margin-bottom: rem(70);
  }

  // .delivery__container

  &__container {
    display: flex;
    gap: rem(30);
    @media (max-width: em(1050)){
      flex-direction: column;
    }
  }

  // .delivery__wrapper

  &__wrapper {
    max-width: rem(585);
    align-self: center;
  }

  // .delivery__top-content

  &__top-content {
    display: grid;
    gap: rem(16);
    &:not(:last-child){
      margin-bottom: rem(60);
    }
    @media (max-width: em(600)){
      &:not(:last-child){
        margin-bottom: rem(20);
      }
    }
  }

  // .delivery__head-info

  &__head-info {
    @include top-content;
     text-align: start;
  }

  // .delivery__title

  &__title {
    font-size: rem(55);
    font-weight: 600;
    line-height: normal;
    @media (max-width: em(700)){
      font-size: rem(40);
    }
    @media (max-width: em(400)){
      font-size: rem(30);
    }
    &::after{
      content: "";
      display: block;
      border-bottom: rem(5) #FC0 solid;
      max-width: rem(175);
  }
}
  // .delivery__sub-title

  &__sub-title {
    font-weight: 600;
    font-size: rem(26);
    line-height: normal;
  }

  // .delivery__text

  &__text {
    font-size: rem(17);
    font-weight: 400;
    line-height: normal;
  }

  // .delivery__order-wrapper

  &__order-wrapper {
    display: flex;
    gap: rem(30);
  }

  // .delivery__order-information

  &__order-information {
    max-width: rem(280);

  }

  // .delivery__promote

  &__promote {
  }

  // .delivery__images

  &__images {
    position: relative;
    padding-top: 49%;
    width: 50%;
    align-self: center;
    @media (max-width: em(550)){
      width: 100%;
      padding-top: 100%;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;

    }
  }
}
.order-information {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  // .order-information__images

  &__images {
    &:not(:last-child){
      margin-bottom: rem(20);
    }
    position: relative;
    width: 100px;
    height: 100px;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .order-information__title

  &__title {
    font-size: rem(20);
    font-weight: 600;
  }

  // .order-information__text

  &__text {
    p{
      &:not(:last-child){
        margin-bottom: rem(10);
      }
    }
  }
}
.promote {
  max-width: rem(280);
  display: flex;
  flex-direction: column;
  gap: rem(8);
  // .promote__images

  &__images {
    &:not(:last-child){
      margin-bottom: rem(20);
    }
  }

  // .promote__title

  &__title {
    font-size: rem(20);
    font-weight: 600;
    line-height: normal;
  }

  // .promote__text

  &__text {
    line-height: normal;
    p{
      &:not(:last-child){
        margin-bottom: rem(10);
      }
    }
  }
}



.team {
  padding-bottom: rem(65);
  // .team__container

  &__container {
  }

  // .team__top-content

  &__top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:not(:last-child){
      margin-bottom: rem(85)
    }
  }

  // .team__head-info

  &__head-info {
    @include top-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .team__title

  &__title {
    @include title_change;
    &:not(:last-child){
      margin-bottom: rem(25);
    }
  }

  &__underline{
    width: rem(205);
    background-color: #FC0;
    height: rem(5);

  }

  // .team__wrapper

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
    gap: rem(30);
  }

  // .team__item

  &__item {
    display: flex;
    flex-direction: column;
  }

  // .team__link

  &__link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: transform 0.3s;
    @media (any-hover:hover ){
      &:hover{
        transform: scale(1.05);
      }
    }
  }

  // .team__image

  &__image {
    &:not(:last-child){
      margin-bottom: rem(37);
    }
    position: relative;
    padding-top: 120.353791%; /* 350/277 */
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  // .team__name

  &__name {
    font-weight: 600;
    font-size: rem(24);
    color: #231900;
    &:not(:last-child){
      margin-bottom: rem(15);
    }
    flex-grow: 1;
  }

  // .team__rank

  &__rank {
    font-weight: 300;
    font-size: rem(20);
    color: #231900;
    
  }
}


.discount {
  background: linear-gradient(91deg, #FC0 17.25%, rgba(255, 204, 0, 0.00) 178.38%); 
  padding: rem(49) 0 rem(150) 0 ;
  @media (max-width: em(800)){
    padding-bottom: rem(70);
  }
  // .discount__container

  &__container {
    display: flex;
    gap: rem(50);
    @media (max-width: em(768)){
      gap: rem(10);
    }
    @media (max-width: em(680)){
      flex-direction: column;
      gap: rem(40);
    }
  }

  // .discount__left-wrapper

  &__left-wrapper {
    flex: 0 1 47.479675%; /* 584/1230 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  // .discount__title

  &__title {
    font-size: rem(55);
    font-weight: 700;
    line-height: normal;
    color: #fff;
    &:not(:last-child){
      margin-bottom: rem(32);
    }
    @media (max-width: em(800)){
      &:not(:last-child){
        margin-bottom: rem(20);
      }
      font-size: rem(40);
    }
    @media (max-width: em(680)){
      font-size: rem(30);
      &:not(:last-child){
        margin-bottom: rem(10);
      }
    }
  }

  // .discount__text

  &__text {
    font-size: rem(26);
    font-weight: 600;
    line-height: normal;
    color: #fff;
    &:not(:last-child){
      margin-bottom: rem(73);
    }
    @media (max-width: em(920)){
      &:not(:last-child){
        margin-bottom: rem(33);
      }
    }
    @media (max-width: em(680)){
      font-size: rem(20);
    }
  }

  // .discount__link

  &__link {
    display: flex;
    flex-wrap: wrap;
    gap: rem(11);

  }

  // .discount__play

  &__play {
    position: relative;
    flex: 0 1 31.25%; /* 55/176 */
    padding-bottom: 10%;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .discount__store

  &__store {
    padding-bottom: 10%;
    position: relative;
    flex: 0 1 31.25%;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  &__mobile-wrapper{
    flex: 0 1 47.560976%; /* 585/1230 */

  }
  // .discount__mobile

  &__mobile {
    padding-top: 91.282051%; /* 534/585 */
    position: relative;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}



.catalog {
  padding: rem(75) 0;
  @media (max-width: em(500)){
    padding: rem(40) 0;
  }
  // .catalog__container

  &__container {

    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(4,1fr);
    @media (max-width: em(778)){
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width: em(550)){
      grid-template-columns: repeat(2,1fr);
      gap: rem(15);
    }
  }


  // .catalog__link

  &__link {
    display: block;
    position: relative;
    padding-bottom: 72.202166%; /* 200/277 */
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid #000;
    }
  }
}


.footer {
  padding-top: rem(90);
  padding-bottom: rem(43);
  @media (max-width: em(798.98)){
    padding-top: rem(30);
  }
  // .footer__container

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: rem(200);
    @media (max-width: em(998)){
      row-gap: rem(100);
    }
    @media (max-width: em(668)){
      row-gap: rem(50);
    }
  }

  // .footer__wrapper

  &__wrapper {
    display: flex;
    gap: rem(30);
    flex: 0 0 100%;
    @media (max-width: em(1230)){
      flex-direction: column;
    }
  }

  // .footer__left-info

  &__left-info {
    flex: 0 1 42%;
    display: flex;
    flex-direction: column;
    gap: rem(40);
    @media (max-width: em(1230)){
      justify-content: center;
      align-items: center;
    }
    @media (max-width: em(768)){
      gap: rem(20);
      }
  }

  // .footer__title

  &__title {
    @include top-content;
    text-align: start;
  }

  // .footer__text

  &__text {
    font-size: rem(17);
    font-weight: 400;
    line-height: normal;
    @media (max-width:em(1230) ){
      max-width: rem(500);
      text-align: center;
} 
 }

  // .footer__icon

  &__icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: rem(20);
    column-gap: rem(40);
  }

  // .footer__link

  &__image {
    position: relative;
    width: rem(35);
    height: rem(35);
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
      @media (any-hover:hover ){
        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }

  // .footer__nav

  &__nav {
    flex: 1 1   100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: rem(82);
    row-gap: rem(40);
    @media (max-width: em(1220)){
      column-gap: rem(40);
    }
    @media (max-width: em(430)){
      justify-content: center;
      align-items: center;
    }
  }

  // .footer__menu

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:nth-child(1){
      flex: 1 1 rem(175);
    }
    &:nth-child(2){
      flex: 1 1 rem(175);
    }
    &:nth-child(3){
      flex: 1 1 rem(275);
    }
  }

  // .footer__sab-title

  &__sab-title {
    font-size: rem(24);
    color: #231900;
    &:not(:last-child){
      margin-bottom: rem(40);
    }
    @media (max-width: em(450)){
      &:not(:last-child){
        margin-bottom: rem(20);
      }
    }
  }

  // .footer__item
  &__list{
    display: flex;
    flex-direction: column;

    gap: rem(13);
    font-weight: 400;
    color: #231900;
    font-size: rem(17);
    line-height: normal;
    @media (max-width: em(420)){
      width: 100%;
      text-align: center;
    }
  }


  &__item {
  }


  &__link{
    @media (any-hover:hover ){
      &:hover{
        text-decoration: underline;
      }
    }
  }
  // .footer__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    flex-wrap: wrap;
    font-size: rem(18);
    color: #231900;
    font-weight: 400;
    @media (max-width: em(650)){
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  // .footer__copyright

  &__copyright {
  }

  // .footer__foodmood

  &__foodmood {
  }
}
